button .material-icons {
    vertical-align: initial;
}

md-sidenav {
    margin-top: 64px;
}

#clearButton {
    margin-top:12px;
}

md-input-container {
    margin-left: 40px;
}

.layout-align-center-center, .layout-align-end-center, .layout-align-space-around-center, .layout-align-space-between-center, .layout-align-start-center {
    -webkit-box-align: initial;
    -webkit-align-items: initial; 
    align-items: initial; 
}


.classified.ng-enter, .classified.ng-move {
    transition: 0.4s all;
    opacity: 0;
}

.classified.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active {
    opacity: 1;
}

.classified.ng-leaver{
    animation: 0.4s fade_classified;
}

@keyframes fadeClassified {
    from: {opacity: 1;}
    to: {opacity: 0;}
}